<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= check_box_tag 'task_ids[]', task.id, checked = task.completed, disabled: true %>
      <%= link_to task.title, task_path(task) %>
      <i class="fa fa-trash" aria-hidden="true"></i>
    </li>
  <% end %>
</ul>

<hr></hr>
<%= link_to "Add a new task", tasks_new_path %>
